/* Auteur : Florian COLLIN
 * 
 * Date : décembre 2020
 * 
 */
/* Infolettres */
/** Infolettres cinéma */
/*** Cadre entier ***/
.infolettre-cinéma {
	border:2px solid #008985;
	background-color:#FFFFFF;
	padding:O;
}
/*** Cadre du haut ***/
.infolettre-cinéma .haut .haut-gauche {
	background-color: #FFFFFF;
	padding: 0 0 0 0px;
	width: "100%";
	font-family: "Courier New";
}
.infolettre-cinéma .haut .haut-droite {
	font-size: 200%;
	color: #008985;
	font-weight: bold;
}
.infolettre-cinéma .modifier {
	font-size: 91%;
	background-color:transparent;
	test-align: right;
}
.infolettre-cinéma .portail {
	text-align: center;
}
.infolettre-cinéma .portail .portail-cinéma {
	border:solid 1px #008985;
	background-color:#60C7F7;
	padding:0.3em;
	width:50%
}
.infolettre-cinéma .portail .portail-réal-audio {
	border:solid 1px #008985;
	background-color:#60C7F7;
	padding:0.3em;
	width:50%;
}
.infolettre-cinéma .nouvelles-projets-1 {
	text-align: left;
}
.infolettre-cinéma .nouvelles-projets-2 {
	width: 100%;
}
.infolettre-cinéma .tableau-nouveaux-projets {
	background-color:transparent;
	width: 100%;
}
.infolettre-cinéma .nouvelles {
	border: 1px solid #008985;
	background-color: transparent;
}
.infolettre-cinéma .nouvelles-text {
	background: #D9E2FF;
	border-bottom: 1px solid;
	font-size: 130%;
	text-align: left;
	padding: 0.2em;
}
.infolettre-cinéma .tableau-nouvelles {
	background-color: transparent;
}
.infolettre-cinéma .encyclopédie,
.infolettre-cinéma .projet {
	padding-left: 10px;
	font-weight:bold;
}
.incolettre-cinéma .interview {
	background: #D9E2FF;
	border-bottom: 1px solid;
	border-top: 1px solid;
	font-size: 130%;
	text-align: left;
	padding: 0.2em;
}
.infolettre-cinéma .sorties-tableaux {
	border: 1px solid #008985;
	background-color: transparent;
	width: 40%;
}
.infolettre-cinéma .sorties-titres {
	background: #D9E2FF;
	border-bottom: 1px solid;
	font-size: 130%;
	text-align: left;
	padding: 0.2em;
}
.infolettre-cinéma .sorties {
	padding: .5em;
}
.infolettre-cinéma .sorties .textes {
	font-size: 89%;
	font-style: italic;
}
.infolettre-cinéma .article {
	background: #D9E2FF;
	border-bottom: 1px solid;
	border-top: 1px solid;
	font-size: 130%;
	text-align: left;
	padding: 0.2em;
}
.infolettre-cinéma .image-titre {
	background: #D9E2FF;
	border-bottom: 1px solid;
	border-top: 1px solid;
	font-size: 130%;
	text-align: left;
	padding: 0.2em;
}
.infolettre-cinéma .image {
	padding:.4em
}
.infolettre-cinéma .numéros-titre {
	background: #D9E2FF;
	border-bottom: 1px solid;
	border-top: 1px solid;
	font-size: 130%;
	text-align: left;
	padding: 0.2em;
}
.infolettre-cinéma .numéros {
	padding: .4em;
}
.infolettre-cinéma .fin {
	width: 100%;
	font-size: 105%;
	border: 1px solid #008985;
	background-color:#60C7F7;
	font-weight: bold;
}


/*** Cadre du contenu */
.infolettre-cinéma .contenu {
	border:;
}
/*** Cadre de chaque section ***/
.infolettre-cinéma .contenu .cadre {
	border:;
}
/**** Titre du cadre de chaque section ****/
.infolettre-cinéma .contenu .cadre .titre {
	font-family: "Aileron";
	font-variant: small-caps;
}
/**** Paragraphe du cadre de chaque section ****/
.infolettre-cinéma .contenu .cadre p {
	font-family: "Comic Sans MS";
	color: black;
	text-align: justify;
}