/* Auteur : {{u|Florian COLLIN}}
 * 
 * Date : décembre 2020
 * 
 * Description : cette feuille de styles inclue les différentes règles CSS, des infolettres de 2021.
 * Elle a été écrite avant sa publication sur [https://github.com/Florian-COLLIN/wikipedia-fr/tree/cin%C3%A9ma/newsletter/cin%C3%A9ma GitHub]
 */
/*****************************************************************************************************************

		== Cinéma ==

******************************************************************************************************************/
.infolettre-cinema {
	border: 2px solid #008985;
	background-color: #FFFFFF;
	padding: 0;
}
.infolettre-cinema .haut-gauche {
	background-color: #FFFFFF;
	padding: 0 0 0 0px;
	width: 100%;
	font-family: "Courier New";
}
.infolettre-cinema .haut-droite {
	font-size: 200%;
	color: #008985;
	font-weight: bold;
}
.infolettre-cinema .modifier {
	font-size: 91%;
	background-color: transparent;
	text-align: right;
}
.infolettre-cinema .portail {
	text-align: center;
}
.infolettre-cinema .portail .portail-cinema {
	border: solid 1px #008985;
	background-color: #60C7F7;
	padding: 0.3em;
	width: 50%
}
.infolettre-cinema .portail .portail-real-audio {
	border: solid 1px #008985;
	background-color: #60C7F7;
	padding: 0.3em;
	width: 50%;
}
.infolettre-cinema .nouvelles-projets-1 {
	text-align: justify;
}
.infolettre-cinema .nouvelles-projets-2 {
	width: 100%;
}
.infolettre-cinema .tableau-nouveaux-projets {
	background-color:transparent;
	width: 100%;
}
.infolettre-cinema .nouvelles {
	border: 1px solid #008985;
	background-color: transparent;
	width: 60%;
}
.infolettre-cinema .nouvelles-texte {
	background: #D9E2FF;
	border-bottom: 1px solid;
	font-size: 130%;
	text-align: left;
	padding: 0.2em;
}
.infolettre-cinema .tableau-nouvelles {
	width: 100%;
	background-color: transparent;
}
.infolettre-cinema .encyclopedie,
.infolettre-cinema .projet {
	padding-left: 10px;
	font-weight:bold;
}
.infolettre-cinema .interview {
	background: #D9E2FF;
	border-bottom: 1px solid;
	border-top: 1px solid;
	font-size: 130%;
	text-align: left;
	padding: 0.2em;
}
.infolettre-cinema .sorties-tableaux {
	border: 1px solid #008985;
	background-color: transparent;
	width: 40%;
}
.infolettre-cinema .sorties-titre {
	background: #D9E2FF;
	border-bottom: 1px solid;
	font-size: 130%;
	text-align: left;
	padding: 0.2em;
}
.infolettre-cinema .sorties {
	padding: .5em;
}
.infolettre-cinema .sorties .textes {
	font-size: 89%;
	font-style: italic;
}
.infolettre-cinema .article {
	background: #D9E2FF;
	border-bottom: 1px solid;
	border-top: 1px solid;
	font-size: 130%;
	text-align: left;
	padding: 0.2em;
}
.infolettre-cinema .image-titre,
.infolettre-cinema .numeros-titre {
	background: #D9E2FF;
	border-bottom: 1px solid;
	border-top: 1px solid;
	font-size: 130%;
	text-align: left;
	padding: 0.2em;
}
.infolettre-cinema .image {
	padding: .4em
}
.infolettre-cinema .autre {
	font-size: smaller;
	padding: .4em;
}
.infolettre-cinema .fin {
	width: 100%;
	font-size: 105%;
	border: 1px solid #008985;
	background-color:#60C7F7;
	font-weight: bold;
}
.infolettre-cinema p {
	font-family: "Times New Roman";
	color: black;
	text-align: justify;
}
.infolettre-cinema li {
	font-family: "Courier New";
	color: black;
}
/*****************************************************************************************************************

  		== Séries télévisées ==

******************************************************************************************************************/
.infolettre-ST {
	border: 3px solid;
	border-color: #FF3333;
	background-color: #F1EAEA;
}
.infolettre-ST .image {
	width: 90%;
	background-color: #DADADA;
	padding: 0 0 0 0px;
}
.infolettre-ST .titre {
	font-size: 250%;
	color: #1DB5B1;
	font-weight: bold;
	text-transform : uppercase;
}
.infolettre-ST .numero {
	color: black;
	font-size: 130%;
	font-style: italic;
	font-weight: bold;
}
.infolettre-ST .numero .small {
	font-size: smaller;
}
.infolettre-ST .modifier {
	font-size: 80%;
	background-color: transparent;
	text-align: right;
}
.infolettre-ST .debut {
	text-align: justify;
}
.infolettre-ST .milieu {
	width: 100%;
}
.infolettre-ST .cadres {
	background-color: transparent;
	width: 100%;
}
.infolettre-ST .gauche {
	width: 60%;
	border: 2px solid;
	border-color: #008985;
	background-color: transparent;
}
.infolettre-ST .cadre {
	background: #D9E2FF;
	border-bottom:1px solid;
	border-top: 1px solid;
	font-size: 130%;
	padding: 0.2em;
}
.infolettre-ST .autre {
	font-size: smaller;
	padding: .3em;
}
.infolettre-ST .tableau-nouvelles {
	width: 100%;
	background-color: transparent;
}
.infolettre-ST .encyclopedie,
.infolettre-ST .projet {
	padding-left: 10px;
	font-weight:bold;
}
.infolettre-ST .sorties {
	padding: .5em;
}
.infolettre-ST .sorties .textes {
	font-size: 89%;
	font-style: italic;
}
.infolettre-ST .fin {
	width: 100%;
	font-size: 105%;
	border: 1px solid #008985;
	background-color:#60C7F7;
	font-weight: bold;
}
.infolettre-ST .image-fin {
	padding: .4em;
}
.infolettre-ST p {
	font-family: "Times New Roman";
	color: black;
	text-align: justify;
}
.infolettre-ST li {
	font-family: "Courier New";
	color: black;
	text-align: justify;
}
