
/* Auteur : Florian COLLIN
 * 
 * Date : décembre 2020
 * 
 */
/* Infolettres */
/** Infolettres cinéma */
/*** Cadre entier ***/
.infolettre-cinéma {
	border-width: 3px;
	border-style: dashed;
	border-color: green;
}
/*** Cadre du haut ***/
.infolettre-cinéma .haut {
	border:;
	font-family: "Courier New";
}
/*** Cadre du contenu */
.infolettre-cinéma .contenu {
	border:;
}
/*** Cadre de chaque section ***/
.infolettre-cinéma .contenu .cadre {
	border:;
}
/**** Titre du cadre de chaque section ****/
.infolettre-cinéma .contenu .cadre .titre {
	font-family: "Aileron";
	font-variant: small-caps;
}
/**** Paragraphe du cadre de chaque section ****/
.infolettre-cinéma .contenu .cadre p {
	font-family: "Comic Sans MS";
	color: black;
	text-align: justify;
}